@media screen and (max-width: 1258px) {
  .section02 {
    .section02-contain {
      display: block;
      .text {
        margin: 0 auto;
        text-align: center;
        .title {
          text-align: center;
        }
      }
    }
  }
  .section04 {
    .section04-contain {
      .section04-box {
        .section04-img {
          overflow-y: hidden;
          overflow-x: scroll;
          img {
            width: 100vw;
            &:not(:nth-of-type(4)) {
              margin-right: 50px;
            }
          }
        }
      }
    }
  }
}
@media screen and (max-width: 898px ) {
  body {
    .section02 {
      .section02-contain {
        display: block;
        .text {
          margin: 0 auto;
          text-align: center;
          .title {
            margin: 40px auto;
            text-align: center;
          }
          .more {
            text-align: center;
          }
        }
      }
    }
  }
}